.Contact {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.message-input {
    height: 3rem;
    border-width: 1px;
    border-color: #272727;
}

.message-name {
    height: 3rem;
    border-width: 1px;
    border-color: #272727;
}

.message-email {
    height: 3rem;
    border-width: 1px;
    border-color: #272727;
}
