.Contact {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.message-input {
    height: 6rem;
    border-width: 1px;
    border-color: #272727;
}

.message-name {
    height: 3rem;
    border-width: 1px;
    border-color: #272727;
}

.message-email {
    height: 3rem;
    border-width: 1px;
    border-color: #272727;
}

.success {
    color: #0ff40f;
  }
  
  .error {
    color: #960303;
  }

.btn btn-primary {
    background-color: #272727;
}  
