.Instagram_Posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    background-color: #f5f5f5;
    box-shadow: 0 1rem 2rem rgba(#272727,.2);
    border-radius: 4px;
    margin-right: 8rem;
    margin-left: 8rem;
}

.Instagram {
    margin: 2rem;
}
