@import './about.scss';
@import './contact.scss';

*,
  *::after,
  *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
  }

  html {
    font-size: 62.5%;
  }

  body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 4rem;
  }

.Title {
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #5196e9;
}

.Subtitle {
    font-size: 1.7rem;
}

.Paragraph {
    font-size: 1.3rem;
}

@media (max-width: 800px) {
  body {
    margin: 0rem;
  }
  .Title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #5196e9;
}
}