@import './about.scss';
@import './contact.scss';
@import './instagram.scss';

*,
  *::after,
  *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
  }

  html {
    font-size: 62.5%;
  }

  body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
  }

.Title {
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.Subtitle {
    font-size: 1.9rem;
}

.Paragraph {
    font-size: 1.5rem;
}

.button {
  background-color: #272727;
  color: #ffffff;
  width: 15rem;
  padding: 0.5rem;
  border-radius: 4px;
}

@media (max-width: 1200px) {
  .Title {
    font-size: 3rem;
    text-align: center;
}
  .button {
    width: 100%;
}
}