@import './about.scss';
@import './contact.scss';
@import './instagram.scss';

*,
  *::after,
  *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
  }

  html {
    font-size: 62.5%;
  }

  body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 4rem;
  }

.Title {
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.Subtitle {
    font-size: 1.9rem;
}

.Paragraph {
    font-size: 1.5rem;
}

.btn-dark {
  background-color: #272727;
}

@media (max-width: 800px) {
  body {
    margin: 0rem;
  }
  .Title {
    font-size: 3rem;
    text-align: center;
}
}